<a href="https://colab.research.google.com/github/rahulpatilrdp-code/Assignments/blob/main/MTA_QA1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

QA1__Perform Operations Using Data Types and Operators

In [ ]:
#Q1

In [ ]:
x=8
y=10

In [ ]:
result=x//3*3/2+y%2**2

In [ ]:
result

5.0

In [ ]:
#Q2

In [ ]:
start=input('How old were you at the time of joining')
end=input('How old are you today')
print('Congratulations on '+str(int(end)-int(start))+' Years of service')

How old were you at the time of joining22
How old are you today28
Congratulations on 6 Years of service

In [ ]:
#Q3  -We dont want cat word

In [ ]:
x='ACROTE'
y='APPLE'
z='TOMATO'

In [ ]:
print(x[2],y[1],z[1])

R P O

In [ ]:
#Q4

In [ ]:
x='Durga'
y='Durga'

In [ ]:
x is y

True

In [ ]:
x<y

False

In [ ]:
x!=y

False

In [ ]:
#Q5

In [ ]:

#code 1
a1='10'
b1=3
c1=a1*b1

#code2

a2=10
b2=3
c2=a2/b2

#code3
a3=2.6
b3=1
c3=a3/b3

In [ ]:
c1,c2,c3

('101010', 3.3333333333333335, 2.6)

In [ ]:
type(c1),type(c2),type(c3)

(str, float, float)

In [ ]:
#Q6 which will give same result

In [ ]:
13//4, 11/3, 3**1, 23%5

(3, 3.6666666666666665, 3, 3)

In [ ]:
#Q7

In [ ]:
n1=[10,20,30,40,50]
n2=[10,20,30,40,50]

In [ ]:
print(n1 is n2)
print(n1==n2)

False
True

In [ ]:
#Q8 ans must be zero

In [ ]:
a=1
b=3
c=5
d=7
result1=a**d-1
result2=a%b-1

In [ ]:
result1,result2

(0, 0)

In [ ]:
#Q9

In [ ]:
del list    #here "del list" is used as list was over written and was giving error "list object is not callable"
s='AB CD'
lst=list(s)
lst.append('EF')
print(lst)

['A', 'B', ' ', 'C', 'D', 'EF']

In [ ]:
#Q10

In [ ]:
a=5
b=10
c=2
d=True

In [ ]:
x=a+b*c
y=a+b/d

if(x>y):
  print('Valid')
else:
  print('Invalid')

Valid

In [ ]:
#Q11

In [ ]:
x=input("Enter First Number")
y=input("Enter Second Number")
print('The Result:' + str(int(x)+int(y)))

Enter First Number2
Enter Second Number4
The Result:6

In [ ]:
#Q12

In [ ]:
a=20
b=15
c=10
d=5
z=a-b*c+d

In [ ]:
z

-125

In [ ]:
#Q13

In [ ]:
weight=62.4
zip='80098'
value=+23E4

In [ ]:
type(weight),type(zip),type(value)

(float, str, float)

In [ ]:
#Q14

In [ ]:
a=10+20
b='10'+'20'
c='10'*3

In [ ]:
a,b,c

(30, '1020', '101010')

In [ ]:
type(a),type(b),type(c)

(int, str, str)

In [ ]:
#Q15

In [ ]:
c=bool()    #for Empty string, empty list, empty tuple, empty set, empty dict this argument returns false.

In [ ]:
c

False

In [ ]:
#Q16

In [ ]:
result=(2*(3+4)**2-(3**3)*3)    # 1-Parenthesis, 2-Exponent, 3-(Mul,Div,Moddulo,Floor div), 4-Add,Sub

In [ ]:
result

17

In [ ]:
#Q17

In [ ]:
a=2
a += 1
a**=2

In [ ]:
a

9

In [ ]:
#Q18

In [ ]:
a=bool(0)   #which will give true
b=bool(3)
c=bool(0.5)
d=bool(0.0)

In [ ]:
a,b,c,d

(False, True, True, False)

In [ ]:
#Q19

In [ ]:
a=21
b=6

In [ ]:
print(a/b)
print(a//b)
print(a%b)

3.5
3
3

In [ ]:
#Q20 500 employees list we want last 3 from it

In [ ]:
# employees[-3:0]    ,employees[497:500],   employees[497:]

In [ ]:
#Q21

In [ ]:
subjects=['java','python','sap']
more_subjects=['java','python','sap']
extra_subjects=more_subjects

In [ ]:
print(extra_subjects is more_subjects)    #is operator for reference comparision
print(subjects==more_subjects)            #==  for content comparision

True
True

In [ ]:
#Q22---- 500 employees list,in which case we will get index error.
        #employees[0:501], employees[1:1000], employees[-10:10]    #all are right.

In [ ]:
#Q23

In [ ]:
numbers=[10,20,30,40,50]
alphabets=['a','b','c','d','e']
print(numbers is alphabets)
print(numbers==alphabets)
numbers=alphabets
print(numbers is alphabets)
print(numbers==alphabets)

False
False
True
True

In [ ]:
#Q24

In [ ]:
a=0
minor=False
name='Durga'

In [ ]:
type(0), type(minor), type('Durga')

(int, bool, str)

In [ ]:
#Q25 which will give max value

In [ ]:
a=8//3*4
b=8%3*4
c=8/3*4
d=8-3*4

In [ ]:
a,b,c,d

(8, 8, 10.666666666666666, -4)

In [ ]:
#Q26

In [ ]:
s='Python is easy'
s1=s[6:-4]
s2=s1.strip()
print(len(s2))

2

In [ ]:
#Q27  -From 600 employees exclude lasst 3
      #employees[:-3],  emloyees[0:-3]

In [ ]:
#Q28

In [ ]:
list=['Apple','Banana','Carrot','Mango']  #access mango

In [ ]:
list[-1]

'Mango'

In [ ]:
list[3]

'Mango'

In [ ]:
#Q29 print boy,cat,dog

In [ ]:
l=['Apple','Boy','Cat','Dog']
for x in l:
  if len(x)==3:
    print(x)

Boy
Cat
Dog

In [ ]:
l=['Apple','Boy','Cat','Dog']
l1=l[1:]
for x in l1:
  print(x)

Boy
Cat
Dog

In [ ]:
#Q30

In [ ]:
a=15
b=5
print(a/b)

3.0

In [ ]:
#Q31 500 employess which will give index error--employees[500] ,no error-employees[0],employees[-1]

In [ ]:
#Q32

In [ ]:
a=1
b=2
c=4
d=6
#result = 4

In [ ]:
(a+b)//d-c

-4

In [ ]:
#Q33

In [ ]:
s='Python is easy'
s1=s[-7:]
s2=s[-4:]
print(s1+s2)

is easyeasy

In [ ]:
#Q34 Operator precedence order
#1-Parenthesis, 2-Exponents, 3-Unary Positive,negative,N ot. 4-Mul,Div. 5-Add,sub. 6-And

In [ ]:
#Q35 ----b=(-a)**2

In [ ]:
#Q36

In [ ]:
result=8//6%5+2**3-2
print(result)

7

In [ ]:
#Q37

In [ ]:
a=3
b=5
a+=2**3
a-=b//2//3
print(a)

11

In [ ]:
#38

In [ ]:
a=bool([])
b=bool(())
c=bool(range(0))
d=bool({})
e=bool(set())

In [ ]:
a,b,c,d,e

(False, False, False, False, False)

In [ ]:
#39-- Output=10

In [ ]:
numbers=[10,20,30,40]
x=0

In [ ]:
for i in (30,40,50):
  if i in numbers:
    x=x+5
print(x)

10

In [ ]:
for i in (30,40,50):
  if i not in numbers:
    x=x+10
print(x)

10

In [ ]:
#Q40

In [ ]:
n1=[10,20,30,40,50]
n2=[10,20,30,40,50]
print(n1 is n2)
print(n1==n2)
n1=n2
print(n1 is n2)
print(n1==n2)

False
True
True
True