In [1]:
pwd

'C:\\Users\\rahul'

In [2]:
##Connectivity between Python & MySQL

In [3]:
import mysql.connector as connection

In [4]:
mydb=connection.connect(host='localhost',user='root',password='root')

In [5]:
type(mydb)

mysql.connector.connection_cext.CMySQLConnection

In [6]:
q1="show databases"

In [7]:
q1

'show databases'

In [8]:
cursor=mydb.cursor()

In [9]:
cursor.execute(q1)

In [10]:
cursor.fetchall()

[('b111',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',)]

In [15]:
import mysql.connector as connection

try:
    mydb=connection.connect(host="localhost",user="root",password="root")
    q1="show databases"
    cursor=mydb.cursor()
    cursor.execute(q1)
    print(cursor.fetchall())
except:
    mydb.close()
    print(str(e))

[('b111',), ('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('sys',), ('world',)]

In [16]:
mydb.is_connected()

True

In [17]:
import mysql.connector as connection

try:
    mydb=connection.connect(host="localhost",user="root",password="root")
    print(mydb.is_connected())
    mydb.close()
except:
    mydb.close()
    print(str(e))

True

In [18]:
##create database

In [19]:
try:
    mydb=connection.connect(host="localhost",user="root",password="root")
    print(mydb.is_connected())

    q2="create database 25jan;"
    cursor=mydb.cursor()
    cursor.execute(q2)
    print("Database is created successfully")
    mydb.close()
except:
    mydb.close()
    print(str(e))

True
Database is created successfully

In [20]:
try:
    mydb=connection.connect(host="localhost",user="root",password="root")
    q1="show databases"
    cursor=mydb.cursor()
    cursor.execute(q1)
    print(cursor.fetchall())
except:
    mydb.close()
    print(str(e))

[('25jan',), ('b111',), ('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('sys',), ('world',)]

In [21]:
##connect to database 25jan

In [24]:
try:
    mydb=connection.connect(host="localhost",user="root",password="root",database="25jan")
    print(mydb.is_connected())

    q3="create table student(sid int(10) auto_increment primary key,fname varchar(20),"\
    "Lname varchar(30),RegDate date,class varchar(5),section varchar(5));"
    cursor=mydb.cursor()
    cursor.execute(q3)
    print("Table is created successfully")
    mydb.close()
except:
    mydb.close()
    print(str(e))

True
Table is created successfully

In [25]:
#fetch all data from emp,dept

In [28]:
try:
    mydb=connection.connect(host="localhost",user="root",password="root",database="b111")
    print(mydb.is_connected())

    q4="select * from emp;"
    cursor=mydb.cursor()
    cursor.execute(q4)
    print(cursor.fetchall())
    mydb.close()
except:
    mydb.close()
    print(str(e))

True
[(7369, 'SMITH', 'CLERK', 7902, datetime.date(1980, 12, 17), 800, None, 20), (7499, 'ALLEN', 'SALESMAN', 7698, datetime.date(1981, 2, 20), 1600, 300, 30), (7521, 'WARD', 'SALESMAN', 7698, datetime.date(1981, 2, 22), 1250, 500, 30), (7566, 'JONES', 'MANAGER', 7839, datetime.date(1981, 4, 2), 2975, None, 20), (7654, 'MARTIN', 'SALESMAN', 7698, datetime.date(1981, 9, 22), 1250, 1400, 30), (7698, 'BLAKE', 'MANAGER', 7839, datetime.date(1981, 5, 1), 2850, None, 30), (7782, 'CLARK', 'MANAGER', 7839, datetime.date(1981, 6, 9), 2450, None, 10), (7788, 'SCOTT', 'ANALYST', 7566, datetime.date(1987, 9, 23), 3000, None, 20), (7839, 'KING', 'PRESIDENT', None, datetime.date(1981, 11, 19), 5000, None, 10), (7844, 'TURNER', 'SALESMAN', 7698, datetime.date(1981, 9, 8), 1500, 0, 30), (7876, 'ADAMS', 'CLERK', 7788, datetime.date(1987, 8, 24), 1100, None, 20), (7900, 'JAMES', 'CLERK', 7698, datetime.date(1981, 12, 3), 950, None, 30), (7902, 'FORD', 'ANALYST', 7566, datetime.date(1981, 12, 3), 3000, None, 20), (7934, 'MILLER', 'CLERK', 7782, datetime.date(1982, 1, 23), 1300, None, 10)]

In [29]:
try:
    mydb=connection.connect(host="localhost",user="root",password="root",database="b111")
    print(mydb.is_connected())

    q4="select * from emp;"
    cursor=mydb.cursor()
    cursor.execute(q4)
    for v in cursor.fetchall():
        print(v)
    mydb.close()
except:
    mydb.close()
    print(str(e))

True
(7369, 'SMITH', 'CLERK', 7902, datetime.date(1980, 12, 17), 800, None, 20)
(7499, 'ALLEN', 'SALESMAN', 7698, datetime.date(1981, 2, 20), 1600, 300, 30)
(7521, 'WARD', 'SALESMAN', 7698, datetime.date(1981, 2, 22), 1250, 500, 30)
(7566, 'JONES', 'MANAGER', 7839, datetime.date(1981, 4, 2), 2975, None, 20)
(7654, 'MARTIN', 'SALESMAN', 7698, datetime.date(1981, 9, 22), 1250, 1400, 30)
(7698, 'BLAKE', 'MANAGER', 7839, datetime.date(1981, 5, 1), 2850, None, 30)
(7782, 'CLARK', 'MANAGER', 7839, datetime.date(1981, 6, 9), 2450, None, 10)
(7788, 'SCOTT', 'ANALYST', 7566, datetime.date(1987, 9, 23), 3000, None, 20)
(7839, 'KING', 'PRESIDENT', None, datetime.date(1981, 11, 19), 5000, None, 10)
(7844, 'TURNER', 'SALESMAN', 7698, datetime.date(1981, 9, 8), 1500, 0, 30)
(7876, 'ADAMS', 'CLERK', 7788, datetime.date(1987, 8, 24), 1100, None, 20)
(7900, 'JAMES', 'CLERK', 7698, datetime.date(1981, 12, 3), 950, None, 30)
(7902, 'FORD', 'ANALYST', 7566, datetime.date(1981, 12, 3), 3000, None, 20)
(7934, 'MILLER', 'CLERK', 7782, datetime.date(1982, 1, 23), 1300, None, 10)

In [33]:
try:
    mydb=connection.connect(host="localhost",user="root",password="root",database="b111")
    print(mydb.is_connected())

    q4="select * from dept;"
    cursor=mydb.cursor()
    cursor.execute(q4)
    for v in cursor.fetchall():
        print(v)
    mydb.close()
except:
    mydb.close()
    print(str(e))

True
(10, 'ACCOUNTING', 'NEW YORK')
(20, 'RESEARCH', 'DALLAS')
(30, 'SALES', 'CHICAGO')
(40, 'OPERATIONS', 'BOSTON')

In [34]:
##insert data in student file

In [37]:
try:
    mydb=connection.connect(host="localhost",user="root",password="root",database="25jan")
    print(mydb.is_connected())

    q6="insert into student values(101,'sachin','patil','2025-12-12','Ten','A');"
    cursor=mydb.cursor()
    cursor.execute(q6)
    mydb.commit()
    mydb.close()
except:
    mydb.close()
    print(str(e))     #i already run this command that's why showing error.

True

NameError: name 'e' is not defined

In [38]:
try:
    mydb=connection.connect(host="localhost",user="root",password="root",database="25jan")
    print(mydb.is_connected())

    q6="insert into student values(102,'kunal','ne','2022-10-12','Nine','B');"
    cursor=mydb.cursor()
    cursor.execute(q6)
    mydb.commit()
    mydb.close()
except:
    mydb.close()
    print(str(e))

True

In [39]:
try:
    mydb=connection.connect(host="localhost",user="root",password="root",database="25jan")
    print(mydb.is_connected())

    q6="insert into student values(108,'virat','kohli','1999-10-12','four','f');"
    cursor=mydb.cursor()
    cursor.execute(q6)
    mydb.commit()
    mydb.close()
except:
    mydb.close()
    print(str(e))

True